@model AMan.ViewModels.JobDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Job details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.Complexity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Complexity)
        </dd> 
        <dt>
            Assigned Androids
        </dt>
        <dd>
            @if (Model.AssignedAndroids.Count == 0)
            {
                <p>-</p>

            }
            @foreach (var item in Model.AssignedAndroids)
            {    <div>
                    <a asp-controller="Androids" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@Url.Content(item.AvatarPath ?? "~/Avatars/default.png")" class="avatar" style="display: inline-block;" />
                        <h5 class="list-group-item-heading" style="display: inline-block;">@item.Name</h5>
                    </a>
                    <a asp-controller="Androids" asp-action="Unassign" asp-route-id="@item.Id" style="display: inline-block;"><i class="glyphicon glyphicon-remove"></i></a>
                 </div>}
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Job.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
