@model AMan.Models.Android

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Android</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvatarPath)
        </dt>
        <dd>
            <img src="@Url.Content(Model.AvatarPath ?? "~/Avatars/default.png")" class="avatar" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reliability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reliability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        @if (@Model.Status == true)
        {
            <dd style="color: green">Active</dd>}
        else
        {
            <dd style="color: red">Should be reclaimed</dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
