@model IEnumerable<AMan.Models.Android>

@{
    ViewData["Title"] = "Index";
}

<h2>Androids</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AvatarPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SkillsTags)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reliability)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentJob)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            <img src="@Url.Content(item.AvatarPath ?? "~/Avatars/default.png")" class="avatar" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillsTags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reliability)
        </td>
        <td>
            @if (item.Status == true)
            {
                <p style="color: green">Active</p>
            }
            else
            {
                <p style="color: red">Should be reclaimed</p>
            }
         </td>
        <td>
            @if (item.CurrentJobId == null)
            {
                if (item.Status == true)
                {
                    <a asp-action="Assign" asp-route-id="@item.Id" class="col-md-2 control-label"><i class="glyphicon glyphicon-plus"></i></a>
                }
                else
                {
                    <p>-</p>

                }
            }
            else
            {
                <a asp-controller="Jobs" asp-action="Details" asp-route-id="@item.CurrentJobId">@item.CurrentJob.Name</a>              

            }
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
            </tr>}
    </tbody>
</table>
